# deps
node_modules/
.pnpm-store/
.pnp
.pnp.*

# next / build
.next/
out/
dist/
build/
next-env.d.ts

# env
.env
.env.local
.env.*.local
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor / os
.DS_Store
Thumbs.db
.vscode/
.idea/

# misc
*.tsbuildinfo
coverage/

# vercel
.vercel
